<title>Bonnier News Hackworld 2017!</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<style>
body {
  font-family: Helvetica, Verdana, Arial;
  margin-top: 10px;
  background-color:#f7eae4;
}

.mail-list {
  width: 1024px;
  border:1px solid #e2bdb8;
}
.mail-list th, .mail-list td {
  padding: 10px;
}

.mail-list th {
  background-color:#f0d9d3
}

.mail-list__row {
  border-bottom: 1px solid #e2bdb8;
}
.mail-list__row--unread {
  font-weight: bold;
}

.mail-list__row td:last-child {
  min-width:150px;
}
</style>
