<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <div class="container">
    <div id="userFormArea" class="row">
      <div class="col-md-12">
        <%= title %>

        <p>Vänligen <a href="<%= authUrl %>">logga in</a> med kundtjänstkontot.</p>
      </div>
    </div>
</body>
</html>
